// 기본 폰트
@font-face {
  font-family: "NotoSansKR";
  src: url("../fonts/notosnas/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../fonts/notosnas/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../fonts/notosnas/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../fonts/notosnas/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// 강조 1 폰트
@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// 강조 2 폰트
@font-face {
  font-family: "suit";
  src: url("../fonts/suit/SUIT-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

// 영문 폰트
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
